@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

@font-face {
  font-family: "04B_19__";
  src: url("img/04B_19__.TTF");
}

:root {
  --text-color: #FBFBFF;
  --bg-cyan: #01BAEF;
  --bg-gray: #757575;
  --bg-dblue: #0B4F6C;
  --bg-green: #20BF55;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 1px solid black;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
p,
.btn-x {
  font-family: 'Jost';

}


.website-name,
.subtitle {
  text-align: end;
}

.website-name,
h2 {
  font-size: 3rem;
  font-family: '04B_19__', sans-serif;

}

.subtitle {
  font-size: 2rem;
}

header {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1.4rem 0;
  background: var(--bg-gray);
  color: var(--text-color);
  column-gap: 4rem;
  overflow: hidden;

}

.social {
  display: flex;
  align-items: center;
}

.social img {
  /* padding: 0 1rem; */
  margin: auto 1rem;
  width: 41px;
}

#about-us,
#join {
  background-color: var(--bg-green);
  padding: 1.75rem 0;
  min-height: calc(100vh - 1px);
  position: relative;
}

#join {
  background-color: var(--bg-cyan);
}

.content {
  width: 90%;
  max-width: 90rem;
  margin: auto;
}

#about-us h2,
#about-us p,
#join h2,
#join p {
  color: var(--text-color);
  margin-bottom: 1.75rem;
  margin-top: 1.25rem;
}


#about-us h2,
#join h2 {
  font-size: 3.8rem;
  text-align: center;
}

#about-us p,
#join p {
  font-size: 2.5rem;
  line-height: 1.4;
  text-align: justify;
}

.btn-x {
  position: absolute;
  top: .25rem;
  right: 1rem;
  color: var(--text-color);
  font-size: 2.5rem;
}